import os

DEBUG = True

# Secret Key
# https://miniwebtool.com/django-secret-key-generator/

SECRET_KEY = 'YOUR_SECRET_KEY'

# Database
# https://docs.djangoproject.com/en/2.1/ref/settings/#databases

# Make sure you have postgresql installed and running
# https://pypi.org/project/postgres/

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'HOST': '127.0.0.1',
        'PORT': '5432',
        'NAME': 'csxdb',
        'USER': 'YOUR_DATABASE_USERNAME',
        'PASSWORD': 'YOUR_DATABASE_PASSWORD'
    }
}

# Static files (CSS, JavaScript, Images)
# https://docs.djangoproject.com/en/2.1/howto/static-files/

# Use these settings for local storage in development

# PROJECT_ROOT = os.path.dirname(os.path.abspath(__file__))
# STATIC_URL = '/static/'
# STATIC_ROOT = os.path.join(PROJECT_ROOT, 'static')

# MEDIA_URL = '/media/'
# MEDIA_ROOT = os.path.join(PROJECT_ROOT, 'media')

# Or use these settings for S3 cloud storage (we use this in production)

# AWS_ACCESS_KEY_ID = os.environ['AWS_ACCESS_KEY_ID']
# AWS_SECRET_ACCESS_KEY = os.environ['AWS_SECRET_ACCESS_KEY']
# AWS_STORAGE_BUCKET_NAME = os.environ['AWS_STORAGE_BUCKET_NAME']
# AWS_DEFAULT_ACL = None
# AWS_S3_CUSTOM_DOMAIN = f'{AWS_STORAGE_BUCKET_NAME}.s3.amazonaws.com'
# AWS_S3_OBJECT_PARAMETERS = {'CacheControl': 'max-age=86400'}
# # S3 static storage
# STATIC_LOCATION = 'static'
# STATIC_URL = f'https://{AWS_S3_CUSTOM_DOMAIN}/{STATIC_LOCATION}/'
# STATICFILES_STORAGE = 'mysite.storage_backends.StaticStorage'

# # S3 media storage
# PUBLIC_MEDIA_LOCATION = 'media'
# MEDIA_URL = f'https://{AWS_S3_CUSTOM_DOMAIN}/{PUBLIC_MEDIA_LOCATION}/'
# DEFAULT_FILE_STORAGE = 'mysite.storage_backends.PublicMediaStorage'